<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Egg Poker</title>
    <script src="{{url_for('static', filename='js/script.js')}}" defer></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>

<body>
    <form id="searchInputForm">
        <input type="text" id="searchInput" name="searchInput" placeholder="Search on Popular Video Platforms" />
        <button type="submit">Search</button>
    </form>
    <ul id="search-results">
    </ul>

    <h1>Active Streams</h1>
    <ul id="streams-list">
        <!-- Stream names will be dynamically inserted here -->
    </ul>

    <h1 id="videoTitle">Select a source to play</h2>
        <div id="videoContainer">
            <video id="videoPlayer" class="video-js vjs-default-skin"
                controls preload="auto" width="800" height="600">
                <source src="" type="application/x-mpegURL">
            </video>
        </div>

</body>

</html>