#videoContainer {
    position: relative;
    background-color: #000;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(50, 50, 50, 0.95);
    border: 2px #ccc solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: calc(100vw - 40px);  /* Assuming a total margin of 40px (20px on each side) */
    height: auto;  /* Adjust height as needed, can be set to maintain aspect ratio */
    max-width: 1080px;  /* Optional: if you want to limit the maximum width */
}

/* Styles for clickable list items */
.clickable-item {
    max-width: 200px; /* Limit the width of the clickable region */
    display: block;
    text-align: left;
    font-size: 1.5em;
    cursor: pointer;
    color: blue;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px 10px;
    margin: 5px;
    transition: background-color 0.3s; /* Smooth transition for background color changes */
}

/* Styles for search result clickable list items */
.search-result {
    display: inline-block;
    text-align: left;
    font-size: 1.5em;
    cursor: pointer;
    color: blue;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px 10px;
    margin: 5px;
    transition: background-color 0.3s; /* Smooth transition for background color changes */
}

.clickable-item:hover {
    background-color: #f0f0f0;
}

.clickable-item:active {
    background-color: #808080;
}
